* {
  box-sizing: border-box;
}

br {
  display: block;
}

div,
input {
  border-radius: 6px;
}

#app {
  text-align: left;
}

.debugger,
input {
  font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", monospace;
}

.input {
  width: 100%;
  padding: 12px;
}

input {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  font-size: 15px;
  padding: 8px 12px;
}

.inner,
.frame {
  padding: 8px;
}

.debugger {
  height: 600px;
}

.console {
  height: 100%;
  overflow: scroll;
}
